@using TheGreatAdventureGame.Models.Entities.Players
@model Player

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .progress-container {
            width: 100%;
            background-color: #f3f3f3;
            border-radius: 8px;
            height: 30px;
        }

        .progress-bar {
            height: 100%;
            width: 0;
            background-color: black;
            text-align: center;
            line-height: 30px;
            color: white;
            border-radius: 8px;
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div style="display: flex;"> 
        <div class="progress-container">
            <div id="ProgressBarHealth" class="progress-bar">@Model.Health.Percentage%</div>
        </div>
        <div class="progress-container">
            <div id="ProgressBarHunger" class="progress-bar">@Model.Hunger.Percentage%</div>
        </div>
        <div class="progress-container">
            <div id="ProgressBarThirst" class="progress-bar">@Model.Thirst.Percentage%</div>
        </div>
    </div>
    <script>
        updateVitalBar('ProgressBarHealth', @Model.Health.Percentage);
        updateVitalBar('ProgressBarHunger', @Model.Hunger.Percentage);
        updateVitalBar('ProgressBarThirst', @Model.Thirst.Percentage);
        
        function updateVitalBar(barId, percent) {
            var bar = document.getElementById(barId);

            if(bar != null){
                bar.style.width = percent + '%';
                bar.innerHTML = percent + '%';
                setVitalBarColor(bar, percent); 
            }
        }

        function setVitalBarColor(bar, percent){
            if(percent >= 75){
               bar.style.backgroundColor = '#4caf50';
            } else if(percent >= 50){
                bar.style.backgroundColor = '#8BC34A';
            } else if(percent >= 25){
                bar.style.backgroundColor = '#FFEB3B';
            } else if(percent >= 5){
                bar.style.backgroundColor = '#F44336';
            } else {
                bar.style.backgroundColor = '#FF0000';
            }
        }
    </script>

</body>
</html>

